includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 6
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
    excludePaths:
        - app/Support/helpers_i18n.php
    checkMissingIterableValueType: false
